.shoe-type-wrapper{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img:hover{
    transform: scale(1.1);
}

#shoe-name{
    align-self: center;
    justify-self: center;
}